{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="album_review-review-header">
    <h1 class="album_review-artist-name">{{ album.artist }}</h1>
    <h2 class="album_review-album-title">{{ album.title }}</h2>
    <div class="album_review-release-date">Released {{ album.release_date }}</div>
    <div class="album_review-album-container">
      <img src="{{ album.image }}" alt="Album Cover" class="album_review-album-image" />

      <!-- Tracklist -->
      <div class="album_review-tracklist">
        <h3>Tracklist</h3>
        <div>{{ album.tracklist|linebreaks }}</div>
      </div>
    </div>
  </div>
  <div class="album_review-button-container">
    <!-- Your button links here -->
  </div>
  <div class="album_review-review-text">
    {{ album.review|safe }}
  </div>

  <div class="album_review-songs-container">
    <div class="album_review-best-songs">
      <h3>
        <img src="{% static 'images/happy_mask.png' %}" alt="Sad Mask" class="album_review-icon" />
        Classics
      </h3>
      <div>{{ album.highlights|linebreaks }}</div>
    </div>
    <div class="album_review-worst-songs">
      <h3>
        <img src="{% static 'images/sad_mask.png' %}" alt="Sad Mask" class="album_review-icon" />
        Duds
      </h3>
      <div>{{ album.lowlights|linebreaks }}</div>
    </div>
  </div>
  <div class="album_review-rating-info">
    <p class="album_review-rating-label">Rating:</p>
    <h2 class="album_review-rating">
        <span class="album_review-rating-stars">
            <p>{{ album.star_rating }}</p>
        </span>
    </h2>
</div>

<div class="album_review-tags-container">
    {% for tag in album.tags %}
        {% if tag.name %}
            <a class="album_review-tag-button" href="{% url 'reviews-by-tag' tag_name=tag.name %}" style="background-color: {{ tag.tag_group.color }}; border: 1px solid {{ tag.tag_group.color }};">
                {{ tag.name }}
            </a>
        {% endif %}
    {% endfor %}
</div>
















{% endblock %}
